.el-drawer__header{
  background-color: #000000;
  padding: 18px 20px;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px !important;
}

.el-descriptions__header{
  margin-bottom: 10px;
}

.el-drawer__body{
  overflow: auto;
  margin-bottom: 20px;
}
